# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        env:
          FIRST_NAME: Mona

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: |
          Compress-Archive -Path dist/ -DestinationPath dist.zip
          Write-Output $FIRST_NAME
          $jsonFile = "package.json"
          $content = Get-Content $jsonFile -raw | ConvertFrom-Json
          Write-Output $content.'name'
          $content.'name' = "New App Name"
          $content | ConvertTo-Json -depth 32| set-content $jsonFile
          echo ::set-env name=PROJECT_NAME::$content.'name'

      - name: Upload math result for job 1
        uses: actions/upload-artifact@v2
        with:
          name: homework
          path: dist.zip

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          Write-Output THE NEW NAME IS $PROJECT_NAME
          $jsonFile = "package.json"
          $content = Get-Content $jsonFile -raw | ConvertFrom-Json
          Write-Output $content.'name'
          
      - name: Installing AppCenter CLI 
        run: npm install -g appcenter-cli  
